
body {
    background: springgreen;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: darkslategray;
}

header {
    background: darkgreen;
    padding-top: 40px;
    color: white;
}

nav {
    background: lawngreen;
    padding-top: 40px;
    color: white;
}
.intro {
    font-style: italic;
    color: midnightblue;
}

.pad {
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}