<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>I see a <mark>grey box</mark> that has the page's title as well as three colums for information</p>
            <p></p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <pre>As the page is resized everything 
adjusts with the sixe of the page. 
The colums move from being horizontal to a verticle layout when the page shrinks. <span class="text-danger">The grey box also shrinks and expands with the page.</span></pre>
            <p></p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <span class="lead">
                <p>The jumbotron text-center class creates a container for the pages title that will adjust the container to fit on the screen and center the text.</p>
                <p>The .container class provides a responsive fixed width container</p>
                <p>The row class places the columns together in a row</p>
                <p>The col-sm-4 class creates a column of size 4</p>
            </span>
        </div>
    </div>
</div>